{% extends "questions/base.html" %}
{% load static %}
{% block title %}Тест{% endblock %}
{% block content %}

<form action="" method="post">
    {% csrf_token %}
    <h1>Вопрос №{{ number_question }}</h1>
<br/>
    <h4>{{ question.text }}</h4>
<br/>
{% for choice in choices %}
    {% if type_button == 'radio' %}
    <input type="{{ type_button }}"
           class="form-check-input"
           id="{{ choice.id }}"
           name="{{ number_question }}"
           value="{{ forloop.counter }}"> <div class="question"><h5>{{ choice.text }}</h5></div>
    {% else %}
    <input type="{{ type_button }}"
           class="form-check-input"
           id="{{ choice.id }}"
           name="{{ forloop.counter }}"
           value="{{ choice.id }}"> <div class="question"><h5>{{ choice.text }}</h5></div>
    {% endif %}
    <br/>
{% endfor %}

{% if finish %}
<button class="w-10 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Завершить тест</button>
{% else %}
<button class="w-10 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Следующий вопрос</button>
{% endif %}

</form>
{% endblock %}